/* RESET CSS */
* {
    margin: 0;
    padding: 0;
}

ul {
    /* permet d'enlever les listes à puces */
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(118, 118, 168);
    font-size: 1.5rem;
}

h1 {
color: blue;
font-size: 4rem;
}
h2 {
    text-decoration: wavy;
    color: rgb(118, 118, 168);
    font-size: 3rem;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content:space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content:center;
}
.align-items-center {
    align-items: center;
}

/* tailles */

.w-30 {
    width: 30%;
}
.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}



/* marges et padding */
.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

#phead {
    padding: 4.5rem 0rem 0rem 70rem;
}
.border {
    border: solid 2px black;
}

/* header */
.containerHead {
    width: 100%;
    height: 120px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(2,7,43,1) 100%);
    position:fixed;
    z-index: 1;
}

#phead li a:hover{
    color: white;
    text-shadow: color #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;;
}
/* principal */
.container-home {
border: solid 5px black;
    width: 100%;
height: 1100px;
background:url(/img/sun-rise3.png) no-repeat;
background-size: cover;
position: absolute;
top: 120    px
}

#photo {

    width: 300px;
    height: 300px;
    border: solid 5px rgb(63,94,251);
    border-radius: 50%;
    background: url(/img/idCartoon.jpeg);
    background-size: 300px;
    position: relative;
    top: 20%;
    left: 50%
    
   
}

#texteDeroulant {
    width: 500px;  
    position: relative;
    top: 100%;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(63,94,251);
}







.container-about {
    width: 100%;
    height: 1100px;
    background: -webkit-linear-gradient(360deg, #8d98a0,#724a43,#d2725a);/* Chrome 10-25, Safari 5.1-6 */                        
    background: linear-gradient(360deg, #8d98a0,#724a43,#d2725a);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    
    background-size: contain;
    position: relative;
    top: 1110px
    }


    #photoAbout {

        width: 400px;
        height: 500px;
        border: solid 5px rgb(63,94,251);
        border-radius: 5%;
        background: url(/img/passion.jpg);
        background-size: cover;
        position: relative;
        top: 25%;
       left: 10%;
       
    }

    #textAbout {
position: relative;
top: -300px;
left:40%;
width :  1000px;
height: 300px;
font-size: 2rem
    }